!mysql/
mysql/*
!mysql/data/
mysql/data/*
!mysql/data/webtech/
!htdocs/

FileZillaFTP
MercuryMail
SCRATCH
anonymous
apache
apache_start.bat
apache_stop.bat
catalina_service.bat
catalina_start.bat
catalina_stop.bat
cgi-bin
changes.txt
contrib
ctlscript.bat
filezilla_setup.bat
filezilla_start.bat
filezilla_stop.bat
img
install
licenses
locale
mailoutput
mailtodisk
mercury_start.bat
mercury_stop.bat


mysql_start.bat
mysql_stop.bat
passwords.txt
perl
php
phpMyAdmin
properties.ini
readme_de.txt
readme_en.txt
security
sendmail
service.exe
setup_xampp.bat
site-backup
src
ssh
test_php.bat
tmp
tomcat
uninstall.dat
uninstall.exe
webalizer
webdav
xampp-control.exe
xampp-control.ini
xampp-control.log
xampp_shell.bat
xampp_start.exe
xampp_stop.exe
